*,
html {
    margin: 0;
    padding: 0;
}

.CONTAINER-NAVBAR {
    background-color: gray;
    width: 100%;
    height: 100px;
}

.ul-navbar {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    margin: 5px;
    padding: 20px;
    color: white;
    transition: 1s;
}

.li-navbar:hover {
    background-color: black;
    transition: .5 ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
    transform: scale(1.3);
    z-index: 2;
}

.a-navbar {
    color: white;
    text-decoration: none;
}

.CONTAINER-CONTENT {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-content {
    width: 30%;
    height: 30%;
}

.h1-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}

.h2-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.p1-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 30px;
}

.p2-footer {
    font-size: 20px;
    border: 2px solid black;
    margin: 5px;
}

.CONTAINER-SOCIAL-MEDIA {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 250px;
    margin: 0 10px;
    transition: 1s;
}

.box img {
    display: block;
    width: 70%;
    border-radius: 5px;
    margin: 50px;
}

.box:hover {
    transform: scale(1.3);
    z-index: 2;
}

.img-social-media {
    width: 5%;
    height: 5%;
    margin: 5px;
}

.img-content-social-media {
    border-radius: 5px;
    border: 5px solid black;
    margin: 5px;
}

.img-content-game {
    border-radius: 5px;
    border: 5px solid black;
    margin: 5px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 600px;
    height: 400px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content  
 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);  
    color: white;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.card:hover .card-content {
    opacity: 1;
}

.ul-button-game {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.li-button-game {
    list-style-type: none;
    margin: 5px;
    padding: 20px;
    color: white;
    transition: 1s;
    background-color: black;
}

.li-button-game:hover {
    background-color: black;
    transition: .5 ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
    transform: scale(1.3);
    z-index: 2;
}


.a-game {
    color: white;
    text-decoration: none;
}

.hasil-game {
    font-size: 20px;
    border: 2px solid black;
    margin: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}